# advent of code 2024 - [day 20](https://adventofcode.com/2024/day/20)

### Parsing

In [45]:
def gen_lists(file='input.txt'):
    file = open(file, 'r')
    for ix, line in enumerate(file):
        for jx, c in enumerate(line.strip()):
            yield ix, jx, c

In [46]:
filename = "input.txt"
#filename = "test.txt"

## Graph Solution

In [47]:
import os

NEO4J_URI = os.environ['NEO4J_URI']
NEO4J_USERNAME = os.environ['NEO4J_USERNAME']
NEO4J_PASSWORD = os.environ['NEO4J_PASSWORD']

from graphdatascience import GraphDataScience
gds = GraphDataScience(NEO4J_URI, auth=(NEO4J_USERNAME, NEO4J_PASSWORD))

# Check the installed GDS version on the server
print(gds.version())
assert gds.version()

from neo4j import GraphDatabase
driver = GraphDatabase.driver(NEO4J_URI, auth=(NEO4J_USERNAME, NEO4J_PASSWORD))

2.13.0

In [48]:
# cleaning
def clean():
    queries = [
    "CALL apoc.schema.assert({},{});",
    """MATCH (n)
    CALL {WITH n DETACH DELETE n}
    IN TRANSACTIONS OF 1000 ROWS;""",
    """CALL gds.graph.list()
    YIELD graphName
    WITH graphName AS g
    CALL (g) {CALL gds.graph.drop(g) YIELD graphName RETURN graphName}
    WITH graphName RETURN graphName;"""]

    for q in queries:
        gds.run_cypher(q, {})

### Ingestion

In [49]:
def ingest(filename):

    tiles = [{'row':ix, 'col':jx, 'val':c} for ix, jx, c in list(gen_lists(filename))]
    
    clean()

    gds.run_cypher('CREATE INDEX tile_col_row IF NOT EXISTS FOR (t:Tile) ON (t.col, t.row)')
    gds.run_cypher('CREATE INDEX tile_val IF NOT EXISTS FOR (t:Tile) ON (t.val)')
    
    query_ingest = """
    UNWIND $tiles AS tile
    CREATE (:Tile {row:tile.row, col:tile.col, val:tile.val} )
    """

    gds.run_cypher(query_ingest, {"tiles":tiles})

## part 1

In [50]:
part1_build_queries = ["""MATCH (t:Tile)
WITH t.row AS row_num, t ORDER BY t.col
WITH row_num, collect(t) AS row
CALL apoc.nodes.link(row, 'EAST')""",
"""MATCH (t:Tile)
WITH t.col AS col_num, t ORDER BY t.row
WITH col_num, collect(t) AS col
CALL apoc.nodes.link(col, 'SOUTH')""",
"""
MATCH (a)-[r:SOUTH|EAST]->(b)
SET r.no_cheat=false
""",
"""
MATCH (a)-[r:SOUTH|EAST]->(b)
WHERE a.val IN ['S', 'E', '.'] AND b.val IN ['S', 'E', '.']
SET r.no_cheat=true, r.cost=1
""",
"""
MATCH (t:Tile) SET t.X_viz = t.col, t.Y_viz= -t.row 
""",
"""MATCH (t:Tile {val:'S'}) SET t:Start""",
"""MATCH (t:Tile {val:'E'}) SET t:End""",
"""
MATCH (t1:Tile WHERE t1.val IN ['S', 'E', '.'])-[:EAST|SOUTH]-(rock:Tile {val: '#'})-[:EAST|SOUTH]-(t2:Tile WHERE t2.val IN ['S', 'E', '.'])
WHERE t1 < t2
MERGE (t1)-[:GLITCH {no_cheat:false, cost:2}]->(t2)
"""
]

In [51]:
ingest(filename)
for q in part1_build_queries:
    gds.run_cypher(q)

## Part 1

In [52]:
gds.run_cypher("""MATCH (source)-[r:EAST|SOUTH {no_cheat:true}]-(target)
RETURN gds.graph.project(
  'maze',
  source,
  target,
  {}
)""")

  gds.graph.project(\n  'maze',\n  source,\n  target,\n  {}\n)
0  {'relationshipCount': 18864, 'graphName': 'maz...

In [53]:
no_cheat_distance = gds.run_cypher("""MATCH (start:Start), (end:End)
CALL gds.shortestPath.dijkstra.stream('maze', {
    sourceNode: start,
    targetNodes: end
})
YIELD totalCost
RETURN
    toInteger(totalCost) AS no_cheat_distance""")['no_cheat_distance'][0]

In [54]:
no_cheat_distance

9432

In [55]:
gds.run_cypher('CREATE INDEX glitch_id IF NOT EXISTS FOR (gl:Glitch) ON (gl.id)')
gds.run_cypher('CREATE INDEX glitch_cost IF NOT EXISTS FOR (gl:Glitch) ON (gl.cost)')

Empty DataFrame
Columns: []
Index: []

In [56]:
gds.run_cypher("""
MATCH (a)-[g:GLITCH]-(b)
WHERE NOT EXISTS {(glitch:Glitch {id:'maze_'+elementId(a)+'_'+elementId(g)+'_'+elementId(b)})} 
CALL (a, g, b) {
  CALL (a, g, b) {
    MATCH (source)-[r:EAST|SOUTH {no_cheat:true}]-(target)
    RETURN source, target, r
    
    UNION

    RETURN a AS source, b AS target, g AS r
  }
  WITH a, g, b, gds.graph.project(
    'maze_'+elementId(a)+'_'+elementId(g)+'_'+elementId(b),
    source,
    target,
    { relationshipProperties: r { .cost } }
  ) AS graph
  MATCH (start:Start), (end:End)
  CALL gds.shortestPath.dijkstra.stream('maze_'+elementId(a)+'_'+elementId(g)+'_'+elementId(b), {
      sourceNode: start,
      targetNodes: end,
    relationshipWeightProperty: 'cost'
  })
  YIELD totalCost
  WITH a, g, b, totalCost
  CALL gds.graph.drop('maze_'+elementId(a)+'_'+elementId(g)+'_'+elementId(b)) YIELD graphName
  WITH a, g, b, totalCost       
  MERGE (glitch:Glitch {id:'maze_'+elementId(a)+'_'+elementId(g)+'_'+elementId(b)})
      SET glitch.score = totalCost
} IN CONCURRENT TRANSACTIONS OF 10 ROWS
""")

In [57]:
gds.run_cypher("""
RETURN toInteger(COUNT{(g:Glitch WHERE g.score <= $no_cheat_distance - $threshold)}) AS part1
""",{'no_cheat_distance':no_cheat_distance, 'threshold':100})

   part1
0      0

In [ ]:
gds.run_cypher("""MATCH (start:Start)
CALL gds.allShortestPaths.dijkstra.write('maze', {
    sourceNode: start,
    writeRelationshipType: 'PATH_FROM_START',
    writeCosts: true
})
YIELD relationshipsWritten
RETURN relationshipsWritten""")

gds.run_cypher("""MATCH (end:End)
CALL gds.allShortestPaths.dijkstra.write('maze', {
    sourceNode: end,
    writeRelationshipType: 'PATH_FROM_END',
    writeCosts: true
})
YIELD relationshipsWritten
RETURN relationshipsWritten""")


gds.run_cypher("""CYPHER runtime= parallel
MATCH path = (:Start)-[ps:PATH_FROM_START]->(g_start:Tile), (:End)-[pe:PATH_FROM_END]->(g_end:Tile)
WITH path, ps, g_start, pe, g_end, abs(g_end.col-g_start.col) + abs(g_end.row-g_start.row) AS manhattan
WHERE manhattan <= 20
AND ps.totalCost + manhattan + pe.totalCost  <= $no_cheat_distance - $threshold
WITH DISTINCT g_start, g_end
RETURN count(*) AS part2""", {'no_cheat_distance':no_cheat_distance, 'threshold':100})

     part2
0  1008040